*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  color: $font-color;
  font-family: $primary-font;
  background: $background-color;
  height: 100vh;
  font-size: 7.5vmin;
  overflow: hidden;
}

button {
  cursor: pointer;
  font-size: 4.5vmin;
  font-weight: bold;
  padding: 0.5rem;
}
