$primary-font: "League Gothic", sans-serif;
$background-color: #0d0d0d;
$font-color: #ffffff;

// 2048 COLORS
$color-2: #cad5e2;
$color-4: #e5d68a;
$color-8: #ff6666;
$color-16: #e03b8b;
$color-32: #8d3daf;
$color-64: #e07c24;
$color-128: #5a20cb;
$color-256: #35bdd0;
$color-512: #e8bd0d;
$color-1024: #38cc77;
$color-2048: #bf3325;

$game-board-color: #242b2e;
$game-board-cell: #758283;
